{% extends 'base.html' %}

{% block content %}

<form action="/exercises/<id>/edit" method="POST">
    <div>
        <label for="description">Class Name:</label>
        <input type="text" name="description" id="description" value="{{exercise.description}}">

        <div>
            <label for="capacity">No more than</label>
            <input type="text" name="capacity" id="capacity" value="{{exercise.capacity}}">
            <span> people in the sesh</span>
        </div>
        
        <label for="instructor">Who'll be running the show?</label>
        <select name="instructor" id="instructor" value="{{exercise.instructor}}">
            <option value="eddie">Eddie Hall</option>
            <option value="sam">Sam Pilgrim</option>
            <option value="craig">Craig 'Massive Legs' Crawford</option>
            <option value="frank">Frank Bruno</option>
        </select>

        <label for="time">Whenabouts?</label>
        <input type="time" name="time" id="time" min="04:00" max="22:00" step="900" value="{{exercise.time}}">

        <label for="location">Whereabouts?:</label>
        <input type="text" name="location" id="location" value="{{exercise.location}}">

        <input type="submit" value="Update Class deets">
    </div>
</form>


{% endblock %}