{% extends 'base.html' %}

{% block content %}

<h1>Shred sesh's on offer</h1>

{% for exercise in exercises %}
<section class="flex-section">
<a href="exercises/{{exercise.id}}">
<h2 class="underline-header">Class name: {{exercise.description}}</h2>
</a>
<h3>Instructor: {{exercise.instructor}}</h3>
<h3>When: {{exercise.time}}</h3>
<h3>Where: {{exercise.location}}</h3>
<h4>Max. numbers: {{exercise._capacity}}</h4>

<a href="exercises/{{exercise.id}}/edit">
    <input type="submit" value="Edit Class Info">
</a>
</section>
{% endfor %}

{% endblock %}