{% extends 'base.html' %}

{% block content %}

<h2>Add details for new class below</h2>

<form action="/exercises" method="POST">
    <div>
        <label for="description">Class Name:</label>
        <input type="text" name="description" id="description" required>

        <div>
            <label for="capacity">No more than</label>
            <input type="text" name="capacity" id="capacity" required>
            <span> people in the sesh</span>
        </div>
        
        <label for="instructor">Who'll be running the show?</label>
        <select name="instructor" id="instructor" required>
            <option value="eddie">Eddie Hall</option>
            <option value="sam">Sam Pilgrim</option>
            <option value="craig">Craig 'Massive Legs' Crawford</option>
            <option value="frank">Frank Bruno</option>
        </select>

        <label for="time">Whenabouts?</label>
        <input type="time" name="time" id="time" min="04:00" max="22:00" step="900" value="04:00" required>

        <label for="location">Whereabouts?:</label>
        <input type="text" name="location" id="location" required>

        <input type="submit" value="Add class to list">
    </div>
</form>

{% endblock %}