{% extends 'base.html' %}

{% block content %}
<ul>
    <li>
        <a href="/exercises">Big Buff Classes</a>  | <a href="">Add New Class</a>
    </li>
    <li>
        <a href="/clients">Big Buff Clients</a> | <a href="/clients/new">Add New Client</a>
    </li>
    <li>
        <a href="/bookings">Bookings</a>  | <a href=""> Update Bookings</a>
    </li>
</ul>

<h1>Welcome to the Big Buff Gym</h1>

<img id="roidman" src="static/images/Roidman.jpeg" alt="A very large 'roided up man">

<p>Do you want to look like THIS?</p><br>
<p>Then you've come to the right place</p>

{% endblock %}