{% extends 'base.html' %}

{% block content %}

<nav class="right-a-bit">
    <a href="/clients/new">Add New Client</a>
</nav>

<h1>Check out all your big, buff beauties below</h1>

{% for clients in clients %}

<a href="clients/{{clients.id}}">
<h2 class="underline-header">{{clients.first_name}} {{clients.last_name}}</h2>
</a>
<p>{{clients.phone_no}}</p>
<p>{{clients.gender}}</p>
<p>{{clients.medi_cond}}</p>



<a href="/clients/{{clients.id}}/edit">
    <input type="submit" value="Edit Details">
</a>

{% endfor %}

{% endblock %}